.dashboard-content {
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
}

.dashboard-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.dashboard-section {
  background: white;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}

.projet-card-dashboard {
  background: #fcfcfc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;

  h2 {
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    margin: 5px 0;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

.equipe-card-dashboard {
  background: #fcfcfc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;

  h2 {
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    margin: 5px 0;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  a {
    color: #6366f1;
    text-decoration: none;
    font-weight: 500;
  }
}

.formation-card-dashboard {
  background: #fcfcfc;
  border-top: 2px solid rgb(93, 93, 244);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  h2 {
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  p {
    margin: 5px 0;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  a {
    color: #6366f1;
    text-decoration: none;
    font-weight: 500;
  }
}
